<!DOCTYPE html>
<html>
  <head>
    <title>关于我</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   	<link href="../stylesheets/bootstrap.min.css" rel="stylesheet"/>
		<script src="../javascripts/jquery-2.1.4.min.js" type="text/javascript" ></script>
		<script src="../javascripts/bootstrap.min.js" type="text/javascript"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    	p{
    		letter-spacing: 2px;
    		/*color: #756F71;*/
    		line-height: 22px;
    		font-size: 13px;
    	}
    	h3{
				font-weight: bold;
				line-height: 36px;
				color: #333;
				border-bottom: 3px solid 	#7E6072
    	}
    	.about-content{
    		border-right: 4px dashed gray;
    		min-height: 600px;
    	}
    	body{
    		background-color: #E9F0F5;
    	}
	    </style>
  </head>
  <body>
  	<% include header.html %>
  		<div class="container">
  				<div class="row">
  						<div class="heheren-content">
								<div class="col-md-9 about-content">
									<h3>关于我</h3>
										<p>linken，男，一个90后草根站长！从业已经有三四年。从搬砖一样的生活方式换成了现在有“单”而居的日子。当然这个单不是单身的单，跟我的职业相比，爱情脱单并不是问题！虽然极尽苛刻的征婚条件但也远不及客户千奇百怪的要求。告别了朝九晚五，躲过了风吹日晒，虽然不再有阶梯式的工资，但是偶尔可以给自己放放假，挽着老公，一起轻装旅行。</p>
    								<p>人生就是一个得与失的过程，而我却是一个幸运者，得到的永远比失去的多。生活的压力迫使我放弃了轻松的前台接待，放弃了体面的编辑，换来虽有些蓬头垢面的工作，但是我仍然很享受那些熬得只剩下黑眼圈的日子，因为我在学习使用Photoshop、Flash、Dreamweaver、ASP、PHP、JSP...中激发了兴趣，然后越走越远....</p>
									<h3>关于博客</h3>
										<p>域 名：www.heheren.com 创建于2016年01月12日</p>
										<p>服务器：阿里云服务器</p>
										<p>程 序：后台~JAVA 前端~NODE</p>
									<h3>博客日志</h3>
										<p>2016年1月15号,个人博客项目正式启动</p>
								</div>
								<div class="col-md-3" style="margin-top: 50px">
									<p>网名：ID | 唯一</p>
									<p>姓名：刘胜</p>
									<p>籍贯：湖南省—怀化市</p>
									<p>现居：上海市—宝山区</p>
									<p>职业：JAVA、NODE程序员</p>
									<p>喜欢的书：《拆开思维里的墙》《你只是看起来很努力》</p>
									<p>喜欢的音乐：《白色风车》《just one last dance》《算什么男人》</p>
								</div>
  						</div>
  				</div>
  		</div>
  		<% include foot.html %>
  </body>
</html>
