<nav class="navbar navbar-inverse  navbar-fixed-top ">
  <div class="container container-nav">
  	<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="/admin"><img src="/images/piezi.jpg" style="margin-top: -18px;margin-left: -20px;max-width: 100%;"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/admin">首页</a></li> 
        <li><a href="/admin/catalog">目录</a></li>
        <li><a href="/admin/heheren">HEHEREN</a></li>
        <li><a href="/admin/study">学海无涯</a></li>
        <li><a href="/admin/about">关于我</a></li>
      </ul>
    </div>
   </div> 
</nav>

 <link rel="shortcut icon" href="/images/like_hong.png"/>